@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-2em, -2em);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }

    /* 0% {
        opacity: 0;
        transform: translateX(0);
    }

    20% {
        transform: translateX(-1.5em);
    }

    40% {
        transform: translateX(1.5em);
    }

    60% {
        transform: translateX(-1.0em);
    }

    80% {
        transform: translateX(1.0em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    } */
}

@keyframes shake {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    20% {
        transform: translateX(-1.5em);
    }

    40% {
        transform: translateX(1.5em);
    }

    60% {
        transform: translateX(-1.0em);
    }

    80% {
        transform: translateX(1.0em);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInWithMovementAtRight{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}